.my-bg-primary {
	background-color: #59AF7C;
}
.my-text-primary {
  color: #59AF7C;	
}

.my-bg-secondary {
	background-color: #A3DADA;
}
.my-text-secondary {
  color: #A3DADA;	
}

.my-bg-tertiary {
	background-color: #FFE579;
}
.my-text-tertiary {
  color: #FFE579;	
}

.my-bg-quaternary {
	background-color: #C6611D;
}
.my-text-quaternary {
  color: #C6611D;	
}

.my-bg-black {
	background-color: #010101;
}
.my-text-black {
  color: #010101;	
}
