// Raleway //

@font-face {
  font-family: 'Chakra-Petch-Light';
  src: local('Chakra-Petch-Light'), url(../../assets/fonts/Raleway/Raleway-Light.ttf) format('truetype');
}

@font-face {
  font-family: 'Chakra-Petch-Regular';
  src: local('Chakra-Petch-Regular'), url(../../assets/fonts/Raleway/Raleway-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Chakra-Petch-Medium';
  src: local('Chakra-Petch-Medium'), url(../../assets/fonts/Raleway/Raleway-Medium.ttf) format('truetype');
}

@font-face {
  font-family: 'Chakra-Petch-SemiBold';
  src: local('Chakra-Petch-SemiBold'), url(../../assets/fonts/Raleway/Raleway-SemiBold.ttf) format('truetype');
}

@font-face {
  font-family: 'Chakra-Petch-Bold';
  src: local('Chakra-Petch-Bold'), url(../../assets/fonts/Raleway/Raleway-Bold.ttf) format('truetype');
}



// Nunito_Sans //

@font-face {
  font-family: 'Nunito-Sans-Light';
  src: local('Nunito-Sans-Light'), url(../../assets/fonts/Nunito_Sans/NunitoSans-Light.ttf) format('truetype');
}

@font-face {
  font-family: 'Nunito-Sans-Regular';
  src: local('Nunito-Sans-Regular'), url(../../assets/fonts/Nunito_Sans/NunitoSans-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Nunito-Sans-SemiBold';
  src: local('Nunito-Sans-SemiBold'), url(../../assets/fonts/Nunito_Sans/NunitoSans-SemiBold.ttf) format('truetype');
}

@font-face {
  font-family: 'Nunito-Sans-Bold';
  src: local('Nunito-Sans-Bold'), url(../../assets/fonts/Nunito_Sans/NunitoSans-Bold.ttf) format('truetype');
}

@font-face {
  font-family: 'Nunito-Sans-Black';
  src: local('Nunito-Sans-Black'), url(../../assets/fonts/Nunito_Sans/NunitoSans-Black.ttf) format('truetype');
}